# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Build and distribution folders
build/
dist/
*.egg-info/
*.log

# Environment files (if used for secrets or local config)
.env
